article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Geometria";
  src: url("../assets/fonts/Geometria.eot");
  src: url("../assets/fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Geometria.woff") format("woff"), url("../assets/fonts/Geometria.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../assets/fonts/Geometria-Light.eot");
  src: url("../assets/fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Geometria-Light.woff") format("woff"), url("../assets/fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../assets/fonts/Geometria-Medium.eot");
  src: url("../assets/fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Geometria-Medium.woff") format("woff"), url("../assets/fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../assets/fonts/Geometria-Bold.eot");
  src: url("../assets/fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Geometria-Bold.woff") format("woff"), url("../assets/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-UltraLight.eot");
  src: url("../assets/fonts/SuisseIntl-UltraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-UltraLight.woff") format("woff"), url("../assets/fonts/SuisseIntl-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Thin.eot");
  src: url("../assets/fonts/SuisseIntl-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Thin.woff") format("woff"), url("../assets/fonts/SuisseIntl-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Light.eot");
  src: url("../assets/fonts/SuisseIntl-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Light.woff") format("woff"), url("../assets/fonts/SuisseIntl-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Regular.eot");
  src: url("../assets/fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Regular.woff") format("woff"), url("../assets/fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Book.eot");
  src: url("../assets/fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Book.woff") format("woff"), url("../assets/fonts/SuisseIntl-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Medium.eot");
  src: url("../assets/fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Medium.woff") format("woff"), url("../assets/fonts/SuisseIntl-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-SemiBold.eot");
  src: url("../assets/fonts/SuisseIntl-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-SemiBold.woff") format("woff"), url("../assets/fonts/SuisseIntl-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "SuisseIntI";
  src: url("../assets/fonts/SuisseIntl-Black.eot");
  src: url("../assets/fonts/SuisseIntl-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SuisseIntl-Black.woff") format("woff"), url("../assets/fonts/SuisseIntl-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
body {
  background: #F1F6FF;
  font-family: "SuisseIntI", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  min-height: 100vh;
}

.leaderboard {
  height: 100vh;
  overflow: hidden;
}
.leaderboard__logo {
  height: 40px;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 48px;
  z-index: 10;
}
.leaderboard__wrapper {
  position: relative;
  display: flex;
  gap: 78px;
  height: inherit;
  margin: 0 auto;
  max-width: 1366px;
  padding-right: 48px;
}

.banner {
  position: relative;
  width: 472px;
  flex-shrink: 0;
  background: rgb(167, 175, 202);
  border-radius: 0 86px 86px 0;
  overflow: hidden;
}
.banner__image {
  position: absolute;
  bottom: 56px;
  left: 73px;
  width: 85%;
  z-index: 2;
}
.banner__blob_1 {
  position: absolute;
  right: 0;
  bottom: 220px;
}
.banner__rect_2 {
  z-index: 3;
  position: absolute;
  right: 11px;
  bottom: 62px;
}
.banner__blob_1_rect {
  position: absolute;
  right: 0;
  bottom: 192px;
}
.banner__blob_2 {
  position: absolute;
  left: 0;
  bottom: 271px;
}
.banner__text {
  position: absolute;
  top: 88px;
  left: 57px;
}

.qr {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 53px;
}
.qr__footer {
  color: #8696AE;
  font-family: "SuisseIntI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.qr__header {
  position: absolute;
  top: 0;
  left: -46px;
}
.qr__content {
  margin-top: 200px;
}
.qr__footer {
  margin-top: auto;
}
.qr__image-wrapper {
  width: 179px;
  height: 179px;
  margin-bottom: 40px;
}
.qr__image {
  width: 100%;
  height: 100%;
}
.qr__code-title {
  color: #48749C;
  font-family: "Geometria", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -1.32px;
  white-space: nowrap;
}
.qr__code-subtitle {
  color: #8696AE;
  font-family: "SuisseIntI", sans-serif;
  font-size: 21.45px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.812px;
}

.table {
  width: 100%;
  margin-top: 77px;
}
.table__header {
  margin-bottom: 35px;
}
.table__title-wrapper {
  margin-bottom: 14px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.table__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #ED9B38;
  padding: 10px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.table__icon {
  width: 100%;
  height: 100%;
}
.table__title {
  color: #506578;
  font-family: "Geometria", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.88px;
}
.table__subtitle {
  color: #8696AE;
  font-family: "Geometria", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
}
.table__wrapper {
  height: calc(100% - 88px);
  margin: -20px;
  padding: 20px 20px 0px;
  overflow-y: scroll;
}
.table__wrapper::-webkit-scrollbar {
  display: none;
}
.table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 65px;
}
.table table td {
  flex: 3 1 auto;
}
.table table td:first-child {
  display: flex;
  align-items: center;
}
.table table tr {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 20px;
}
.table table tbody > tr:nth-child(1) .table-row,
.table table tbody > tr:nth-child(2) .table-row,
.table table tbody > tr:nth-child(3) .table-row {
  color: #FFF;
}
.table table tbody > tr:nth-child(1) .table-row__icon-wrapper,
.table table tbody > tr:nth-child(2) .table-row__icon-wrapper,
.table table tbody > tr:nth-child(3) .table-row__icon-wrapper {
  color: rgba(255, 255, 255, 0.76);
}
.table table tbody > tr:nth-child(1) {
  border-radius: 16px;
  background-color: #ED9B38;
  box-shadow: 0 8px 20px 0 rgba(243, 165, 72, 0.57);
}
.table table tbody > tr:nth-child(1) .table-row__icon-wrapper {
  background-color: #D25F1C;
}
.table table tbody > tr:nth-child(1) .table-row__rate {
  background-color: #D25F1C;
}
.table table tbody > tr:nth-child(2) {
  border-radius: 16px;
  background-color: #9CA5C8;
  box-shadow: 0 8px 20px 0 #B9B9B9;
}
.table table tbody > tr:nth-child(2) .table-row__icon-wrapper {
  background-color: #677EA9;
}
.table table tbody > tr:nth-child(2) .table-row__rate {
  background-color: #677EA9;
}
.table table tbody > tr:nth-child(3) {
  border-radius: 16px;
  background-color: #D19D92;
  box-shadow: 0 8px 20px 0 rgba(217, 168, 157, 0.53);
}
.table table tbody > tr:nth-child(3) .table-row__icon-wrapper {
  background-color: #B56E5F;
}
.table table tbody > tr:nth-child(3) .table-row__rate {
  background-color: #B56E5F;
}

.table-row {
  display: table-row;
  padding: 12px 13px 12px 16px;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.table-row__icon-wrapper {
  width: 54px;
  height: 54px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 13px;
  background-color: #E4EBF8;
  color: #A2B5D4;
  margin-right: 16px;
  border-radius: 50%;
}
.table-row__icon {
  width: 100%;
  height: 100%;
}
.table-row__text, .table-row__tag {
  margin-right: 32px;
  font-family: "SuisseIntI", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
.table-row__text {
  font-weight: 500;
}
.table-row__tag {
  font-weight: 400;
}
.table-row__rate {
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  margin-left: auto;
  width: fit-content;
  border-radius: 10px;
  background: #A2B5D5;
  color: #FFF;
  font-family: "SuisseIntI", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/*# sourceMappingURL=app.css.map */
