$light: #ffffff;
$black: #000000;

$gray-800: #333e48;
$gray-400: #828282;
$gray-300: #E0E0E0;
$gray-200: #F2F2F2;
$gray-100: #f6f6f6;

$blue:  #00AEC7;
$purple: #9F90CC;
$red: #EA5444;
$orange: #FF8135;
$green: #B4CC40;

$light-blue: #E6F7F9;
$light-purple: #F5F4FA;
$light-green: #F7FAEC;
$light-red: #FDEEEC;

$color-brand: $blue;
$bg-color: $gray-100;
$border-color: $gray-300;
$error-color: $red;


$basic-interval: 250ms;
$font-brand: 'SuisseIntI', sans-serif;
$font-g: 'Geometria', sans-serif;
